*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #fdf6e3;
  color: white;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3rem;
  color: #586e75;
}

h3 {
  font-size: 1.5rem;
  margin: 2cm;
  text-align: center;
  color: #586e75;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > section {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2rem;
  margin-top: 2rem;
  width: 100%;
}

main > section:nth-child(2n-1) {
  background-color: #586e75;
}

main > section > h2 {
  text-align: center;
}

.start-btn {
  padding: 1.5rem;
  background-color: #586e75;
  color: #fdf6e3;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.5rem;
}

.spread {
  transition: all 1s ease-in-out;
  color: #586e75;
}

.start-btn:hover {
  box-shadow: 2px 2px 5px black;
}

.margin-tb {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls-table {
  display: flex;
  flex-direction: column;
}

.controls-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-content: center;
  text-decoration: double;
  text-shadow: 2cm black;
  color: blue;
}

.text-next-to-img {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 1rem;
}

.text-next-to-img > .text {
  border: 1px rgba(10, 10, 10, 0);
  padding: 1rem 2rem;
}

.text-next-to-img > img {
  width: 100%;
}

.Einleitung > p > h2 {
  color: #fdf6e3;
}

.titel2 {
  color: #586e75;
}

p {
  color: #fdf6e3;
}

#titel1 {
  color: #fdf6e3;
  text-align: center;
}

.text1 {
  color: #586e75;
  text-align: right;
}

.text2 {
  color: #586e75;
  text-align: bottom;
}